// 血缘关系
.relationTable {
  width: 100vw;
  height: 85vh;
  position: relative;

  :global {
    .g6-minimap-container {
      position: absolute !important;
      right: 0;
      bottom: 0;
    }
  }
}
